// Reset scss
@import '_reset';
// imports
@import '_mixins';
@import '_fonts';
// scss variables
// colors
$palette-darkblue: #0f1d2e;
$palette-darkblue-opaque: rgba(3, 6, 9, 0.9);
$palette-midblue: #162941;
$palette-lightblue: #39649f;
$palette-pink: #ffbead;
* {
    box-sizing: border-box;
}

body {
    background: $palette-darkblue;
}


/* ********************* */
/*	.logo
/* ********************* */

.logo {
    display: block;
    width: 260px;
    height: 45px;
    margin: 20px auto 20px auto;
    background: url('../images/logo.png') no-repeat center center;
    background-size: 100%;
	@include breakpoint(810) {
		margin-left: 0;
	}
}


/* ********************* */
/*	.log-app-wrapper
/* ********************* */

.log-app-wrapper {
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    padding: 20px;
}


/* ********************* */
/*	.people-of-interest
/* ********************* */

.people-of-interest {
	text-align: center;
    .people-of-interest-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
		justify-content: center;
        @include breakpoint(810) {
			justify-content: space-between;
        }
    }
    h2 {
		width: 100%;
		padding-bottom: 8px;
		font-family: 'Roboto-Medium';
		font-size: 1.4rem;
        color: $palette-lightblue;
		border-bottom: 2px solid $palette-lightblue;
		@include breakpoint(810) {
			text-align: left;
		}
    }
}


/* ********************* */
/*	.person
/* ********************* */

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    background: $palette-midblue;
    cursor: pointer;
    width: 100%;
    max-width: 386px;
    img {
        width: 28.3%;
    }
    div {
        width: 100%;
		text-align: left;
   		padding-left: 40px;
        p {
			margin-bottom: 8px;
            color: $palette-pink;
            font-family: 'Roboto-Bold';
            font-size: 1.3rem;
            letter-spacing: 1px;
        }
        span {
			font-family: 'Roboto-Medium';
			font-size: 1.2rem;
            color: $palette-lightblue;
        }
    }
}

.person-dialog {
    @extend .person;
	margin-top:0;
	max-width: 100%;
    background: lighten($palette-midblue, 5%);
}


/* ********************* */
/*	.modal-bg
/* ********************* */

.modal-bg {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
    transition: all 0.5s ease-out;
    transition-delay: 0.2s;
    display: block;
    pointer-events: none;
    .close {
		display: none;
		font-family: 'Roboto-Light';
        color: #FFFFFF;
        position: absolute;
        right: 20px;
		top: 20px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        border-radius: 12px;
        transition: all 0.5s ease-out;
        transition-delay: 0.2s;
    }
    .dialog {
        width: 90%;
		max-width: 560px;
        position: relative;
        top: -1000px;
        margin: 0 auto;
        padding: 40px;
        border-radius: 10px;
        background: $palette-midblue;
    }
	.dialog {
		h3 {
			font-family: 'Roboto-Regular';
			margin-bottom: 20px;
			margin-top: 20px;
			padding-bottom: 10px;
			font-size: 1.3rem;
			color: $palette-lightblue;
			border-bottom: 1px solid $palette-lightblue;
		}
		.logs {
			p {
				margin-bottom: 15px;
				font-family: 'Roboto-Regular';
				font-size: 1.1rem;
				color: $palette-pink;
			}
		}
	}
    &.open {
        display: block;
        pointer-events: auto;
        background: rgba(0, 0, 0, 0.9);
        transition: all 0.5s ease-out;
		.close{
			display: block;
		}
        .dialog {
            top: 50%;
			transform: translateY(-50%);
            transition: all 0.4s ease-out;
            transition-delay: 0.4s;
        }
    }
}
